site_name: "CPK's Notes"
site_url: https://pkchemlab.github.io/Notes/
docs_dir: docs

repo_name: pkchemlab/Notes
repo_url: https://github.com/pkchemlab/Notes
theme:
  name: material
  language: zh
  palette:
    - scheme: slate
      primary: black
      accent: indigo
      toggle:
        icon: material/weather-sunny
        name: 切换到浅色模式
    - scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/weather-night
        name: 切换到深色模式

  features:
    - navigation.sections
    - navigation.expand
    - navigation.top
    - navigation.footer
    - toc.follow
    - search.highlight
    - search.suggest
    - content.code.copy

plugins:
  - search

nav:
  - 首页: index.md

  - 计算化学导论:
      - 课程主页: intro-computational-chem/index.md

  - 结构II:分子谱学:
      - 课程主页: structure-spectroscopy/index.md
      - chapter 1-光与分子的相互作用: structure-spectroscopy/chapter 1.md

  - 数据结构基础:
      - 课程主页: data-structures/index.md

  - 物理化学I:
      - 课程主页: physical-chem-1/index.md
  
  - Papers:
    - 总览: papers/index.md

copyright: Copyright &copy; 2026 Peikai Chen

markdown_extensions:
  - attr_list
  - admonition
  - tables
  - footnotes
  - attr_list
  - md_in_html
  - toc:
      permalink: true
  - pymdownx.superfences
  - pymdownx.details
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.arithmatex:
      generic: true

extra_javascript:
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js

extra_css:
  - stylesheets/extra.css
  - https://cdn.jsdelivr.net/npm/lxgw-wenkai-webfont@1.1.0/style.css
